/*All of the styling for the landing page goes here*/

body.landing {
  background-color: rgb(58, 23, 63);
}

.hero-content {
  position: relative;
  min-height: 600px;
  background-image: url(../assets/images/bloc_jams_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-content .hero-title {
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-shadow: 1px 1px 0px rgb(58, 23, 63);
}

.selling-points {
  position: relative;
  margin-top: 2rem;
}

.point {
  height: 15rem;
  margin-right: .5rem;
  margin-left: .5rem;
  background-color: rgb(49, 21, 53);
  position: relative;
  padding: 2rem;
  text-align: center;
  -webkit-transform: perspective(500);
  -webkit-transform-style: preserve-3d;
  -webkit-transition: .5s;
}

.point:hover {
  -webkit-transform: perspective(500) rotateX(90deg) translateY(-3em) translateZ(3em);
}

.front-view {
  box-shadow: 0 20px 15px -10px hsla(0, 0%, 0%, .25);
  display: block;
  height: 100%;
  -webkit-transition: .5s;
}

.point:hover .front-view {
  box-shadow: none;
}

.point .point-title {
  font-size: 1.25rem;
}

.point-description {
  background-color: rgb(49, 21, 53);
  color: #fff;
  padding: 1.5em;
  -webkit-transform: rotateX(-90deg);
  -webkit-transform-origin: 100% 0;
  -webkit-transition: .5s;
}

point:hover .point-description {
  box-shadow: 0 20px 15px -10px hsla(0, 0%, 0%, .25);
}

.ion-music-note,
.ion-radio-waves,
.ion-iphone {
  color: rgb(233, 50, 117);
  font-size: 5rem;
}